LASTFM_API_KEY=your_api_key_here
LASTFM_API_SECRET=your_api_secret_here
BACKUP_HOST_PATH=/volumeUSB1/usbshare/adolarDBbackup
BACKUP_AUTO_ENABLED=true
BACKUP_HOUR=3
BACKUP_RETENTION=7
TZ=Europe/Berlin
